.ant-card {
  margin: 50px auto;
}

@media (min-width: 768px) and (max-width: 1600px) {
  .custom-card {
    width: 400px;
  }
}

@media screen and (max-width: 600px) {
  .custom-card {
    width: 300px;
    font-size: 15px;
  }
}
